<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="DEBUG" value="false"/>
    <add key="CONSOLE" value="true"/>
    <add key="LOGFILE" value="logs\bsaddsrv.err.log"/>
    <add key="BUGFILE" value="logs\bsaddsrv.debug.log"/>
    <add key="SP_ADDSRV" value="sp_addsrv"/>
    <add key="DEFAULTCOLLECTOR" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
