# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSServerMonitor/bin/Debug/*.*
BSSM_NMAP/obj/Debug/*.*
BSSM_NMAP/obj/Debug/TempPE/*.*
BSSM_NMAP/obj/Release/*.*
BSSM_NMAP/obj/Release/TempPE/*.*
BSSM_Pinger/obj/*.*
BSSM_Pinger/obj/Debug/*.*
BSSM_Pinger/obj/Debug/TempPE/*.*
BSSM_Pinger/obj/Release/*.*
BSSM_Pinger/obj/Release/TempPE/*.*
BSSM_PingManager/obj/*.*
BSSM_PingManager/obj/Debug/*.*
BSSM_PingManager/obj/Debug/TempPE/*.*
BSSM_PingManager/obj/Release/*.*
BSSM_PingManager/obj/Release/TempPE/*.*
bssm_PortScanner/obj/*.*
bssm_PortScanner/obj/Debug/*.*
bssm_PortScanner/obj/Debug/TempPE/*.*
bssm_PortScanner/obj/Release/*.*
bssm_PortScanner/obj/Release/TempPE/*.*
BSSM_Setup/obj/Debug/*.*
BSSM_Setup/obj/Debug/TempPE/*.*
BSSM_Setup/obj/Release/*.*
BSSM_Setup/obj/Release/TempPE/*.*
BSSM_Setup/obj/*.*
BSSM_WebManager/obj/*.*
BSSM_WebUI/obj/*.*
BSSMService/obj/*.*
BurnSoft.Universal/obj/*.*
dbmaint/obj/*.*
bsaddsrv/obj/Debug/*.*
BSPortManager/obj/Debug/*.*
BSServerMonitor/bin/Debug/logs/*.*
BSServerMonitor/bin/Debug/nmap/*.*
BSServerMonitor/bin/Debug/tools/*.*
BSServerMonitor/obj/Debug/*.*
BSServerMonitor/obj/Debug/TempPE/*.*
BSSM_ColHealth/obj/Debug/*.*
BSSM_WebManager/obj/Debug/*.*
BSSM_WebTest/obj/Debug/*.*
BSSM/obj/Debug/*.*
BSSMService/obj/Debug/*.*
BSSM_WebManager/obj/Debug/*.*
BurnSoft.Universal/obj/Debug/*.*
BSSM_WebManager/obj/Debug/*.*
dbmaint/obj/Debug/*.*
BSSM/obj/Debug/TempPE/*.*
bsaddsrv/Resources/Thumbs.db
BSServerMonitor/Resources/Thumbs.db
BSSM_CollectorInstaller/Thumbs.db
BSSMService/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
