<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="DEBUG" value="false"/>
    <add key="CONSOLE" value="false"/>
    <add key="USE_LOGFILE" value="true"/>
    <add key="LOGFILE" value="logs\bssm.err.log"/>
    <add key="BUGFILE" value="logs\bssm.debug.log"/>
    <add key="SHORTPATH" value="~1"/>
    <add key="TIMER_INTERVAL" value="15"/>
    <add key="RUNPROGRAM" value="BSSM_PingManager.exe"/>
    <add key="USE_EVENT_LOG" value="false"/>
    <add key="EVENT_SOURCE" value="BSSM Processs Manager"/>
    <add key="EVENT_LOG" value="BurnSoft"/>
    <add key="EVENT_ID_INFO" value="690"/>
    <add key="EVENT_ID_WARN" value="700"/>
    <add key="EVENT_ID_ERROR" value="710"/>
    <add key="RunOnFirstRun" value="true"/>
    <add key="DBMAINT_ENABLED" value="false"/>
    <add key="DBMAINT_TIMER_INTERVAL" value="60"/>
    <add key="DBMAINT_TIMER_APP" value="dbmaint.exe"/>
    <add key="COLHEALTH_ENABLED" value="false"/>
    <add key="COLHEALTH_APP" value="BSSM_ColHealth.exe"/>
    <add key="COLHEALTH_APP_xTimesInterval" value="2"/>
    <!--  The Collect Data routine will use nmap to gather information from the device such as open ports and trace routes-->
    <add key="COLLECTDATA_ENABLED" value="false"/>
    <add key="COLLECTDATA_APP" value="BSSM_NMAP.exe"/>
    <add key="COLLECTDATA_APP_ARG" value="/gatherdata"/>
    <add key="COLLECTDATA_TIME_HOUR" value="09"/>
    <add key="COLLECTDATA_TIME_MINUTE" value="00"/>
    <!--  The Preocess Data will process the information tht was collected from the Collect Data Routine.-->
    <add key="PROCESSDATA_APP" value="BSSM_NMAP.exe"/>
    <add key="PROCESSDATA_APP_ARG" value="/processdata"/>
    <add key="PROCESSDATA_TIME_HOUR" value="10"/>
    <add key="PROCESSDATA_TIME_MINUTE" value="00"/>
    <!--  The Do Daily Archive will sum up and average out all the results for the day.  Only one Server needs to perform this task-->
    <add key="DO_DAILY_ARCHIVE" value="false"/>
    <add key="DO_DAILY_ARCHIVE_TIME_HOUR" value="00"/>
    <add key="DO_DAILY_ARCHIVE_TIME_MINUTE" value="10"/>
    <!-- Time to check to see if it is the start of the month to run the monthly wrap up-->
    <add key="DO_MONTHLY_ARCHIVE" value="false"/>
    <add key="DO_MONTHLY_ARCHIVE_TIME_HOUR" value="00"/>
    <add key="DO_MONTHLY_ARCHIVE_TIME_MINUTE" value="40"/>
    <!-- Application to Check Websites-->
    <add key="WEBCHECK_ENABLED" value="false"/>
    <add key="WEBCHECK_APP" value="BSSM_WebManager.exe"/>
    <add key="WEBCHECK_INTERVAL" value="10"/>
    <!-- Application to Check the Health of the ports -->
    <add key="PORTCHECK_ENABLED" value="false"/>
    <add key="PORTCHECK_APP" value="BSPortManager.exe"/>
    <add key="PORTCHECK_INTERVAL" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
