<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="DataCollectorID" value="0"/>
    <add key="Throttle" value="5"/>
    <add key="PingXTimes" value="10"/>
    <add key="DataLimits" value="100"/>
    <!-- Data Pull methods are DB and XML-->
    <add key="DataPull" value="XML"/> 
    <add key="XMLFILENAME" value="list_servers.xml"/>
    <add key="DEBUG" value="false"/>
    <add key="CONSOLE" value="false"/>
    <add key="LOGFILE" value="logs\pingermanager.err.log"/>
    <add key="BUGFILE" value="logs\pingermanager.debug.log"/>
    <add key="DB_SERVER" value="localhost"/>
    <add key="DB_NAME" value="BSSM"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
