<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <!-- Current Switches Include
    /deleteresults=true/false  - delete all the results in the database, allowing you to start new.
    /archday=DAYSBACKFROMCURRENT - runs daily archive for the day that is x many days
                                    back from the current date.
    /archmonth=MONTHSBACKFROMCURRENT - runs monthly archive for the monthat is is x many days
                                    back from the current date.
    /cleandb                    - this will clean up the old stats data configure using the MAINT_DELETE_* keys
  -->
  <appSettings>
    <add key="KEEPDATA" value="DAYS"/>
    <add key="KEEPDATA_DAYS" value="30"/>
    <add key="KEEPDATA_HOURS" value="5"/>
    <add key="KEEPRAWDATA_USE" value="HOURS"/>
    <add key="KEEPRAWDATA_DAYS" value="1"/>
    <add key="KEEPRAWDATA_HOURS" value="1"/>
    <add key="DEBUG" value="true"/>
    <add key="CONSOLE" value="true"/>
    <add key="LOGFILE" value="logs\dbmaint.err.log"/>
    <add key="BUGFILE" value="logs\dbmaint.debug.log"/>
    <add key="USE_SP" value="True"/>
    <add key="USE_RAWDATA" value="True"/>
    <add key="SP_DELETEDATA_DAILY" value="sp_mnt_pingdata"/>
    <add key="SP_DELETEDATA_HOURLY" value="sp_mnt_pingdata_hrs"/>
    <add key="DO_DAILY_ARCHIVE" value="true"/>
    <add key="DO_DAILY_ARCHIVE_HOUR" value="00"/>
    <add key="DO_DAILY_ARCHIVE_MIN" value="10"/>
    <add key="DO_DELETEMARKEDDEVICES" value="true"/>
    <add key="DO_DELETEMARKEDDEVICES_DAYS" value="30"/>
    
    <add key="MAINT_DELETE_DAILY_DAYS" value="365"/>
    <add key="MAINT_DELETE_DAILY_DAYS_EVENTS" value="730"/>
    <add key="MAINT_DELETE_MONTHLY_MONTHS" value="12"/>
    <add key="MAINT_DELETE_YEARLYLY_YEARS" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
