<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="DEBUG" value="false"/>
    <add key="DO_HEALTH_CHECK" value="false"/>
    <add key="SHORTPATH" value="~1"/>
    <add key="TIMER_INTERVAL" value="15"/>
    <add key="EVENT_SOURCE" value="BSSM Service Controller"/>
    <add key="EVENT_LOG" value="BurnSoft"/>
    <add key="EVENT_ID_INFO" value="690"/>
    <add key="EVENT_ID_WARN" value="700"/>
    <add key="EVENT_ID_ERROR" value="710"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
