<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <!--
      Current Switches for this application are:
      /processdata - runs through the nmap data folder and proccess the results without gathering it first
      /gatherdata  - will only gather data from the servers, but not process the data into the database.
    -->
    <add key="DEBUG" value="true"/>
    <add key="CONSOLE" value="false"/>
    <add key="LOGFILE" value="logs\nmap.err.log"/>
    <add key="BUGFILE" value="logs\nmap.debug.log"/>
    <add key="DATAFOLDER" value="nmap\"/>
    <add key="XMLFILENAME" value="nmap_list_servers.xml"/>
    <add key="Throttle" value="5"/>
    <!-- MODE IS EQUAL TO
      FULL - Gather Ports Trace route, OS Etc.
      TRACE - TRACE THE ROUTE ONLY
      PORT - PORT LIST ONLY
      Other modes are programable through this section, the MODE will be appended
      to the NMAP_* paramteter.  This way you can make custom traces if you wanted to
      do something else with the file without having to create muliple batch files
      Just remember to create the function to mine the data from the xml files.
     
    -->
    <add key="MODE" value="FULL"/>
    <add key="NMAP_APPNAME" value="nmap.exe"/>
    <add key="NMAP_FULL" value="-PE -PA21,23,80,3389 -A -v -T4"/>
    <add key="NMAP_TRACE" value="-p22,23,25,80,3389 --traceroute -PN"/>
    <add key="NMAP_PORT" value="-PE -PA21,23,80,3389 -A -v -T4"/>
    <!-- 
       COLLECTIONMODE IS EQUAL TO
       BYCOLLECTOR - THis will gather the list for that collector.  Keep in mind that
                    you will need nmap installed on that collector in order for it 
                    to work.  If you select this mode, it will be wise to install
                    nmap and configure all the other collectors to do the same.
                    When you use this you will need to plug in the datacollecotrid
       MEONLY - This means that that this is the only collector or machine that will
                run the collection for trace and/or ports.  It will process all the machines
                that are listed in the database.  NOTE THIS MY TAKE UP SOME CPU TIME
                IF THIS COLLECTOR OR MACHINE IS ALSO PINGING OR THE MAIN DATABASE SERVER.
                AND YOU HAVE A LOT OF MACHINES.  IF THAT IS THE CASE YOU MIGHT WANT TO DO
                IT "BYCOLLECTOR" IF YOU HAVE A HUGE NUMBER OF DEVICES TO MONITOR.
    -->
    <add key="COLLECTIONMODE" value="MEONLY"/>
    <add key="DataCollectorID" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
